
/*The header*/
header {
    background-color: #1e0038;
    color: white;
    padding: 20px;
    text-align: center;
}

/*the h's*/
h1, h2 {
    color: #a060ff;
}

/*the profile*/
#profile .text {
    flex: 1;
    color: #ddd;
}

#profile img {
    width: 150px;
    height: auto; 
    max-height: 150px; 
    object-fit: cover;
    border-radius: 0; 
    border: none;
    margin-left: 20px;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #ddd;
    margin: 0;
    padding: 0;
}

/* sections */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(160, 96, 255, 0.2);
}

/* contacts */
a {
    color: #a060ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}
