
/*The header*/
header {
    background-color: #1e0038;
    color: white;
    padding: 20px;
    text-align: center;
}

/*the h's*/
h1, h2 {
    color: #a060ff;
}

/*the profile*/
#profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
}

#profile .text {
    flex: 1;
    color: #ddd;
}

#profile img {
    flex: 0;
    width: 250px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #ddd;
    margin: 0;
    padding: 0;
}

/* sections */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(160, 96, 255, 0.2);
}

/* contacts */
a {
    color: #a060ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*The only button*/
.action {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn {
    background-color: rgb(78, 74, 78);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.btn:hover {
    background-color: #1e0038;
    transform: scale(1.1);
}
